# SPDX-FileCopyrightText: Pondersource <michiel@pondersource.com>
# SPDX-License-Identifier: AGPL-3.0-or-later
.idea
*.iml
mfazones/vendor/
mfazones/build/
mfazones/node_modules/
mfazones/.php_cs.cache
mfazones/js/
