/* SPDX-FileCopyrightText: Pondersource <michiel@pondersource.com> */
/* SPDX-License-Identifier: AGPL-3.0-or-later */
#mfazoneTabView table {
    margin-left: .5em;
}

#mfazoneTabView tr:hover {
    background-color: transparent;
}

#mfazoneTabView td {
    border: none;
    padding: 0;
}

#mfazoneTabView .key {
    color: #999;
    padding-right: .5em;
    vertical-align: top;
}

#mfazoneTabView .value {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 1px;
}

#mfazoneTabView .value:hover {
    white-space: pre-wrap;
}

tr[data-requires-mfa="false"] .fileactions a[data-action="mfa"] {
    display: none;
}
.switch {
  position: relative;
  display: inline;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 30px;
  height: 15px;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  margin-top: auto;
}

.slider:before {
  position: absolute;
  content: "";
  height: 9px;
  width: 9px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 15px;
}
 
.slider.round:before {
  border-radius: 50%;
}
